*.dylib
*.out
target
pom.xml

*.a
*.o
*.spv

profile.txt
jank.profile
.lsp
.calva
.clj-kondo/.cache
.clj-kondo/.lock
.jank-repl-history
.nrepl-port
*.png
SDFViewer*
sdf-viewer*
.DS_Store

*.obj
*.glb
