[submodule "flecs"]
	path = vendor/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "vendor/JoltPhysics"]
	path = vendor/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics
[submodule "vendor/JoltPhysics.js"]
	path = vendor/JoltPhysics.js
	url = https://github.com/jrouwe/JoltPhysics.js.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/rlImGui"]
	path = vendor/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
